.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
  pointer-events: none;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  position: absolute;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: #aaaaaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal.show {
  display: block;
  pointer-events: auto; /* Activar la interacción con la modal cuando se muestra */
}

body {
  background-color: #f9f9fa;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 5rem;
}

.card {
  background: #fff;
  border-width: 0;
  border-radius: 0.25rem;
  box-shadow: 10px 11px 24px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

.card-header {
  background-color: transparent;
  border-color: rgba(160, 175, 185, 0.15);
  background-clip: padding-box;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.card-hide-body .card-body {
  display: none;
}

.media {
  position: relative;
  display: block;
  padding: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: inherit;
}

.media:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.media:not(:first-child):not(:last-child):not(:only-child) {
  border-radius: 0;
}

.media-circle .media {
  border-radius: 500px;
}

.media-circle .media .media-content:before {
  width: 50%;
  left: 25%;
}

.media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.media-overlay.overlay-top {
  bottom: auto;
}

.media-overlay.overlay-bottom {
  top: auto;
}

.media-action {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-action.active {
  opacity: 1;
}

.media-action.media-action-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 0 5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: inherit;
}

.media-action.media-action-overlay .btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: inherit;
}

.active > .media .media-action,
.list-item:active .media-action,
.list-item:hover .media-action,
.media:active .media-action,
.media:hover .media-action {
  opacity: 1;
  pointer-events: initial;
}

.media iframe,
.media-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(120, 120, 120, 0.1);
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-content:before {
  content: "";
  position: absolute;
  height: 10%;
  width: 90%;
  left: 5%;
  bottom: 0;
  background: inherit;
  background-position-y: 100%;
  filter: blur(10px);
}

.circle .media-content:before {
  width: 40%;
  left: 30%;
}

.media-21x9:after {
  padding-top: 42.857143%;
}

.media-16x9:after {
  padding-top: 56.25%;
}

.media-4x3:after {
  padding-top: 75%;
}

.media-2x3:after {
  padding-top: 150%;
}

.media-3x4:after {
  padding-top: 133.33333%;
}

.media-1x2:after {
  padding-top: 200%;
}

.media-2x1:after {
  padding-top: 50%;
}

.media-3x1:after {
  padding-top: 33%;
}

.media-4x1:after {
  padding-top: 25%;
}

.media-1-4:after {
  padding-top: 25vh;
  min-height: 10rem;
}

.media-1-3:after {
  padding-top: 33vh;
  min-height: 12.5rem;
}

.gd-primary {
  color: #fff;
  border: none;
  background-image: linear-gradient(88.06deg, #bad7e9 0%, #7070a7 100%);
  /* background-image: linear-gradient(88.06deg, #de95a0 0%, #bf6674 100%); */
  /* background-image: linear-gradient(88.06deg, #EB455F 0%, #ad5a67 100%); */
}

.title-card {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
  margin-bottom: 0.75rem;
}

.light {
  font-size: 2.3rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 800;
}

.card-text.show {
  display: none;
  background-color: blueviolet;
}

span.show {
  display: none;
}

#mouse {
  cursor: pointer;
}

#link-course {
  color: #fff;
  text-decoration: none;
}
