@charset "UTF-8";
		@import 'https://fonts.googleapis.com/css?family=Raleway';
		body {
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			line-height: 1.42em;
			color:#4B4A4B;
			background-color:#FFDAC4;
			background: url(http://www.pixeden.com/media/k2/galleries/131/002-subtle-light-pattern-background-texture.jpg);
		}

		h1 {
			font-size:3em; 
			font-weight: 300;
			line-height:1em;
			text-align: center;
			color: #FD2E4A;
		}

		.listado th h1 {
			font-weight: bold;
			font-size: 1em;
			text-align: left;
		  	color: #FFFFFF;
		}

		.listado td {
			font-weight: normal;
			font-size: 1em;
			-webkit-box-shadow: 0 2px 2px -2px #0E1119;
			-moz-box-shadow: 0 2px 2px -2px #0E1119;
			box-shadow: 0 2px 2px -2px #0E1119;
		}

		.listado {
			text-align: left;
			overflow: hidden;
			width: 80%;
			margin: 0 auto;
			display: table;
			padding: 0 0 8em 0;
		}

		.listado td, .listado th {
			padding-bottom: 2%;
			padding-top: 2%;
			padding-left:2%;  
		}

		.listado tr:nth-child(odd) {
			background-color: #EEEAE7;
		}

		.listado tr:nth-child(even) {
			background-color: #FFFFFF;
		}

		.listado th {
			background-color: #d6d4d6;
		}

		.listado td:first-child { 
			color: #FC1231; 
		}

		.listado tr:hover {
			background-color: #F7C7F7;
			-webkit-box-shadow: 0 6px 6px -6px #0E1119;
			-moz-box-shadow: 0 6px 6px -6px #0E1119;
			box-shadow: 0 6px 6px -6px #0E1119;
		}

		td a {
			color: #4B4A4B;
		}

		td a:hover {
			color: #FFFFFF;
		}

		.listado td.icono:hover {
			background-color: #FC1231;
			
			box-shadow: #BA0F26 -1px 1px, #BA0F26 -2px 2px, #BA0F26 -3px 3px, #BA0F26 -4px 4px, #BA0F26 -5px 5px, #BA0F26 -6px 6px;
			transform: translate3d(6px, -6px, 0);

			transition-delay: 0s;
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: line;
		}	