<section class="hero">
  <h1>Bienvenido al campus MatCafe</h1>
  <p>Los mejores cursos</p>
  <button class="btn">Ver más</button>
</section>

<section class="services">
  <h2>Nuestros servicios</h2>
  <ul>

    <li id="servicio-1">
      <a href="course/get-all">
        <img src="https://cdn-icons-png.flaticon.com/512/2000/2000887.png" alt="imagen de servicios" />
        <i class="fas fa-book"></i>
        <h3>Cursos</h3>
        <p>Aqui podras encontrar todos os cursos que ofrece nuestra plataforma</p>
      </a>
    </li>
    <li id="servicio-2">
      <a href="/servicio-2">
        <img src="https://cdn.goconqr.com/uploads/media/image/32138217/desktop_a9afa1de-1da4-4b77-b45e-954adcd93616.jpg" alt="imagen de servicios" />
        <h3>Rutas</h3>
        <p>DAqui podras ver las diferentes rutas de aprendizaje </p>
      </a>
    </li>

    <li id="servicio-3">
      <a href="/servicio-3">
        <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="imagen de servicios" />
        <h3>Datos del usuario</h3>
        <p>aui podras ver tus datos personales y los cursos a los cuales estas inscrito</p>
      </a>
    </li>
  </ul>
</section>

<section class="about">
  <h2>Conoce nuestro catalogo contactando al area comercial</h2>
  <p>
    Para tener mas informacion acerca de nuestros cursos y rutas de aprendizaje
    puedes llamar a los siguientes numeros telefonicos o escribirnos a nuestro
    correo electronico
  </p>
</section>
