<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <img
        src="https://ouch-cdn2.icons8.com/2-8UMHPmbYpJnDDV3P5lK-cmvfIXlPfYE0OnXMqCOJo/rs:fit:256:268/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNjE5/L2QwYmY5N2MyLWRl/ZDYtNDM5NC05ZmNl/LWVmMWVlYTFmOTg3/ZC5wbmc.png"
        alt="IMG"
        width="100%"
        height="100%"
      />
    </div>
    <div class="col">
      <form (ngSubmit)="subscribeRoute(learnerEmail.value, RouteName.value)">
        <div>
          <label for="learnerEmail">Email Aprendiz:</label>
          <input type="text" name="learnerEmail" id="learnerEmail" #learnerEmail required>
        </div>

        <div>
          <label for="RouteName">Route Name:</label>
          <input type="text" name="RouteName" id="RouteName" #RouteName required>
        </div>

        <div class="row m-2">
          <button type="submit" class="btn btn-success">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>
