<div class="container">

  <div >
      <form (ngSubmit)="send()" [formGroup]="FormRegister" > 
        <section>
          <h1 > Registrar Ruta</h1>
        </section>
     
        <div >
          <app-form [control]="FormRegister.controls.title" type="text" label="title" placeHolder=""></app-form>
        </div>
        
        <div >
          <app-form [control]="FormRegister.controls.description" type="text" label="description" placeHolder=""></app-form>
        </div>
  
        <div >
          <app-form [control]="FormRegister.controls.duration" type="text" label="duration" placeHolder=""></app-form>
        </div>
  
        <div >
          <app-form [control]="FormRegister.controls.courses" type="text" label="courses" placeHolder=""></app-form>
        </div>
        <div >
          <button [disabled]="FormRegister.invalid"  class="custom-btn btn-12"><span>Confirmar!</span><span>Registrar</span></button>
          <button  class="custom-btn btn-12" routerLink=""><span>Regresar!</span><span>Cancelar</span></button>
        </div>
      
     
      </form>
    </div>
    </div>