<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <img
        src="https://ouch-cdn2.icons8.com/YyMktzyC5wNiAYB65qg6-bxvM5W4V107T1PAGIy2Ngw/rs:fit:256:154/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzk3/Lzk0MWJjNjI2LWZk/Y2YtNGM4ZC04NDFj/LTUyMmQwOWFlYjg1/Ni5wbmc.png"
        alt="IMG"
      />
    </div>
    <div class="col">
      <h2 class="form-title">Registrar Ruta</h2>

      <form (ngSubmit)="enviar()" [formGroup]="FormRegister">
        <div>
          <app-form
            [control]="FormRegister.controls.title"
            type="text"
            label="Título"
            placeHolder=""
          ></app-form>
        </div>

        <div>
          <app-form
            [control]="FormRegister.controls.description"
            type="text"
            label="Descripción"
            placeHolder=""
          ></app-form>
        </div>

        <div>
          <app-form
            [control]="FormRegister.controls.duration"
            type="text"
            label="Duración"
            placeHolder=""
          ></app-form>
        </div>
        Cursos
        <div class="form-group">
          <div formArrayName="courses">
            <div
              *ngFor="let courses of coursesForms.controls; let i = index"
              class="input-group"
            >
              <input
                type="text"
                [formControlName]="i"
                placeholder="curso {{ i + 1 }}"
                class="form-control"
              />
              <button
                type="button"
                (click)="removeCourse(i)"
                class="btn btn-outline-danger"
              >
                Eliminar
              </button>
            </div>
            <button
              type="button"
              (click)="addCourse()"
              class="btn btn-outline-primary"
            >
              Añadir
            </button>
          </div>
        </div>
        <div class="row m-2">
          <button type="submit" class="btn btn-success">Registrar</button>
          <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
