
<div class="container">

<div >
    <form (ngSubmit)="send()" [formGroup]="FormRegister" > 
      <section>
        <h1 > Registrar Usuario</h1>
      </section>

      <div >
        <app-form [control]="FormRegister.controls.name" type="text" label="Name" placeHolder="Capitan America"></app-form>
      </div>
      
      <div >
        <app-form [control]="FormRegister.controls.email" type="text" label="Email" placeHolder="ejemplo@gmail.com"></app-form>
      </div>

      <div>
        <label class="switchBtn" >Rol: 
        <input formControlName="rol" type="checkbox" label="Rol Admin" class="toggle-button input-green">

        <div class="slide round">  <span>{{ FormRegister.controls.rol.value ? 'Admin' : 'Aprendiz' }}</span></div>

        <span>{{ FormRegister.controls.rol.value ? 'Admin' : 'Aprendiz' }}</span>
      </label>
      </div>
  
     
      <div style="display: flex; justify-content: space-between;">
        <button [disabled]="FormRegister.invalid" class="custom-btn btn-12"><span>Confirmar!</span><span>Registrar</span></button>
        <button class="custom-btn btn-13" routerLink=""><span>Regresar!</span><span>Cancelar</span></button>
    </div>
    </form>
  </div>
  </div>
