.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.navbar {
  background-color: #BAD7E9; /* Cambiar el color de fondo a rojo */
}
.navbar.bg-dark {
  background-color: red;
}

.nav-link {
  color:black;
}

.nav-link active {
  color: black;
}
.navbar-brand {
  color: black;
}
img {
  max-width: 20%;
}
mat-toolbar{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #000000f0
}
.img-round{
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.main-icono{
  height: auto;
  width: auto;
  background-color: #08084000;
  border: none;
}
.menu-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  color: white;
}

a:hover {
  cursor: pointer;
}