<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <ng-container *ngIf="!isAdmin,else viewAdmin">
    <img src="../../../../assets/images/logo.png" alt="imagen de servicios" />
  </ng-container>
  <ng-template #viewAdmin>
    <img src="../../../../assets/images/logo.png" alt="imagen de servicios" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course/get-all">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/route/get-all">Rutas de Aprendizaje</a>
        </li>        
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">Login</button>
        <span *ngIf="photo" class="nav-item">
          <img
            [src]="photo"
            alt="imagen de usuario"
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <span>{{ name }}</span>
        </span>
        <button (click)="out()" >Salir</button>
      </form>
    </div>
  </ng-template>
  </div>
</nav>
    
