.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.navbar {
  background-color: #BAD7E9; /* Cambiar el color de fondo a rojo */
}
.navbar.bg-dark {
  background-color: red;
}

.nav-link {
  color:black;
}

.nav-link active {
  color: black;
}
.navbar-brand {
  color: black;
}
img {
  max-width: 20%;
}
mat-toolbar{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #000000f0
}
.img-round{
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.main-icono{
  height: auto;
  width: auto;
  background-color: #08084000;
  border: none;
}
.menu-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  color: white;
}

a:hover {
  cursor: pointer;
}


/* Notification */
.dropdown {
  position: relative;
  }
  .dropdown span {
  color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -8px;
  right: -3px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size: 0.625em;
  font-weight: 600;
  }
  .dropdown img {
  border-radius: 50%;
  height: 40px;
  }
  
  /* Notification Dropdown */
  .list-group .lg {
  height: 500px;
  width: 270px;
  overflow: auto;
  }
  .list-group .list-group-item {
  border-radius: 0;
  letter-spacing: 0.5px;
  }
  .list-group h5 {
  font-size: 0.6875em;
  font-weight: 700;
  line-height: 2;
  }
  .list-group p {
  font-size: 0.5625em;
  font-weight: 400;
  line-height: 2;
  }


