.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.navbar {
  background-color: #2B3467; /* Cambiar el color de fondo a rojo */
}
.navbar.bg-dark {
  background-color: red;
}

.nav-link {
  color: white;
}

.nav-link active {
  color: white;
}
.navbar-brand {
  color: white;
}
