<form class="form">
  <div class="formGroup w-100">
    <label class="form-label">{{ label }}</label>
    <input
      class="form-control"
      [class.invalid]="control.touched && control.invalid && control.dirty"
      [formControl]="control"
      type="{{ type }}"
      [id]="inputId"
      placeholder="{{ placeHolder }}"
    />

    <ng-container *ngIf="control.touched && control.invalid && control.dirty">
      <div
        *ngFor="let err of control.errors | keyvalue"
        class="alert alert-danger alert-gray"
      >
        {{ errorMessages[err.key] }}
      </div>
    </ng-container>
  </div>
</form>
