input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    background: linear-gradient(45deg, #545353, #363635, #0F9D58);

  }

  .alert-gray {
    background: linear-gradient(45deg, #545353, #363635, #0F9D58);
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .form-control {
    width: 100%;
    box-sizing: border-box;
  }
  form {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }