<div class="container">
  <div class="row">
    <div class="card-deck">
          <div class="cardd mb-4" *ngFor="let route of routes">
            <div class="card-body">
              <h5 class="card-title text-center">{{ route.title }}</h5>
              <p class="card-text">{{ route.description }}</p>
              <p class="card-text"><small class="text-muted">{{ route.duration }}</small></p>
              <p class="card-text"><small class="text-muted">{{ route.courses }}</small></p>
              <div class="d-flex justify-content-between align-items-center">
                <button class="custom-btn btn-14 w-25" ><span>Click!</span><span>Actualizar Ruta</span></button>
              </div>
              <div class="d-flex  mt-auto">
                <button class="custom-btn btn-13 w-25" ><span class="spanclick2">Click!</span><span class="spanclick2" >Eliminar Ruta</span></button>
              </div>            
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5">
      </div>
    </div>
  