<div class="container">
  <form (ngSubmit)="send()" [formGroup]="FormUpdate">
    <div class="w-100">
      <app-form
        [control]="FormUpdate.controls.title"
        type="text"
        label="Titulo"
        placeHolder=""
      ></app-form>
    </div>
    <div class="w-100">
      <app-form
        [control]="FormUpdate.controls.description"
        type="text"
        label="Descripción"
        placeHolder=""
      ></app-form>
    </div>

    <div class="w-100">
      <app-form
        [control]="FormUpdate.controls.duration"
        type="text"
        label="Duración"
        placeHolder=""
      ></app-form>
    </div>

    <div class="w-100">
      <label class="form-label">Cursos</label>
      <div formArrayName="courses">
        <div
          *ngFor="let content of coursesForms.controls; let i = index"
          class="w-100"
        >
          <div class="input-group">
            <input
              type="text"
              [formControlName]="i"
              placeholder="Curso {{ i + 1 }}"
              class="form-control"
            />
            <button
              type="button"
              (click)="removeCourse(i)"
              class="btn btn-outline-danger"
            >
              Remove
            </button>
          </div>
        </div>
        <button
          type="button"
          (click)="addCourse()"
          class="btn btn-outline-primary w-100"
        >
          Add
        </button>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="FormUpdate.invalid"
      class="btn btn-success"
    >
      Actualizar
    </button>
  </form>
</div>
