<div class="container">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="py-4 px-3">
            <div class="row g-2 mt-1">
              <div class="col-md-6"></div>
            </div>

            <h2>Inicia sesión en tu cuenta con</h2>
            <div class="row mt-2 google">
              <div class="col-md-12">
                <div id="gSignInWrapper" class="signup-button">
                  <span class="icon"></span>
                  <img
                    src="https://i.imgur.com/HnOWs9O.png"
                    class="icon"
                    alt=""
                    width="25"
                  />
                  <span (click)="google()" class="buttonText">Google</span>
                </div>
              </div>
            </div>
            <div class="member mt-1"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-side-content">
          <div class="content d-flex justify-content-center">
            <h1>MatCafe</h1>
          </div>
          <div class="right-side">
            <img
              width="70%"
              src="https://ouch-cdn2.icons8.com/HrWTNo0aw7c5BjtOHqdyxOumHCwI3dcRHI4CEMWAmhw/rs:fit:256:290/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvODM1/LzM4MTRiZDg2LWU2/ZjEtNDE2Yi1iNjMw/LTU1ZDQ0NmU1NTc5/MS5wbmc.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallelogram">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
