<div class="container">
  <h1 class="my-4">Create Course</h1>
  <form (ngSubmit)="send()" [formGroup]="FormRegister">
    <div class="form-group">
      <app-form [control]="FormRegister.controls.title" type="text" label="Title" placeHolder=""></app-form>
    </div>
    <div class="form-group">
      <app-form [control]="FormRegister.controls.description" type="text" label="Description" placeHolder=""></app-form>
    </div>

    <div class="form-group">
      <app-form [control]="FormRegister.controls.duration" type="text" label="Duration" placeHolder=""></app-form>
    </div>

    <div class="form-group">
      <app-form [control]="FormRegister.controls.requirements" type="text" label="Requirements" placeHolder=""></app-form>
    </div>

    <div class="form-group">
      <div formArrayName="content">
        <div
          *ngFor="let content of contentForms.controls; let i = index"
          class="form-group"
        >
          <input
            type="text"
            [formControlName]="i"
            placeholder="content {{ i + 1 }}"
            class="form-input w-75"
          />
          <button type="button" (click)="removeContent(i)" class="form-button w-25">
            Remove
          </button>
        </div>
        <button type="button" (click)="addContent()" class="form-button">
          Add
        </button>
      </div>
    </div>

    <div class="form-group">
      <app-form [control]="FormRegister.controls.adminId" type="text" label="Admin ID" placeHolder=""></app-form>
    </div>

    <button type="submit" [disabled]="FormRegister.invalid" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>
  </form>
</div>
