<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <img
        src="https://ouch-cdn2.icons8.com/HScNCUE-_8tNaiE85brq4hxbDMXIMSY-h0laUmX_kL4/rs:fit:256:277/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMjI0/LzU3MjA4YTczLWY4/ZjYtNDk0OS04OWJi/LTU2MzcwNTY4YTZk/Mi5wbmc.png"
        alt="IMG"
        width="100%"
        height="100%"
      />
    </div>
    <div class="col">
      <h2 class="form-title">Create Curso</h2>

      <form (ngSubmit)="send()" [formGroup]="FormRegister">
        <div class="form-group">
          <app-form
            [control]="FormRegister.controls.title"
            type="text"
            label="Title"
            placeHolder=""
          ></app-form>
        </div>

        <div class="form-group">
          <app-form
            [control]="FormRegister.controls.description"
            type="text"
            label="Description"
            placeHolder=""
          ></app-form>
        </div>

        <div class="form-group">
          <app-form
            [control]="FormRegister.controls.duration"
            type="text"
            label="Duration"
            placeHolder=""
          ></app-form>
        </div>

        <div class="form-group">
          <app-form
            [control]="FormRegister.controls.requirements"
            type="text"
            label="Requirements"
            placeHolder=""
          ></app-form>
        </div>

        Contenido
        <div class="form-group">
          <div formArrayName="content">
            <div
              *ngFor="let content of contentForms.controls; let i = index"
              class="input-group"
            >
              <input
                type="text"
                [formControlName]="i"
                height="100%"
                placeholder="Contenido {{ i + 1 }}"
                class="form-control"
              />
              <button
                type="button"
                (click)="removeContent(i)"
                class="btn btn-outline-danger"
              >
                Eliminar
              </button>
            </div>
            <button
              type="button"
              (click)="addContent()"
              class="btn btn-outline-primary"
            >
              añadir
            </button>
          </div>
        </div>

        <div class="row m-2">
          <button
            type="submit"
            [disabled]="FormRegister.invalid"
            class="btn btn-success"
          >
            Enviar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/course/get-all"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
