/* You can add global styles to this file, and also import other style files */
.btn-success {
  background-color: #00b894;
  border-color: #00b894;
}

.btn-danger {
  background-color: #e64141;
  border-color: #e64141;
}

.btn-outline-primary {
  border-color: #00b894 !important;
}

.btn-outline-primary:hover {
  border-color: #00b894 !important;
  background-color: #00b894;
  color: white;
}

.btn-outline-primary:active {
  border-color: #00b894 !important;
  background-color: #00b894 !important;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
